%ul.row
  - @resources.each do |resource|
    %li
      %span
        = image_tag resource.users.first.img_path, size: "25x25"
      %span
        %a(href="#{resource.url}")
          = resource.title
    %br
